@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--pink: #a83f75;
	--purple: #5d0f32;
}

@keyframes slideInDown {
	from {
		padding-bottom: 100%;
	}
	to {
		padding-bottom: 0%;
	}
}

@-webkit-keyframes slideInDown {
	from {
		padding-bottom: 100%;
	}
	to {
		padding-bottom: 0%;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		background-color: #ff5252;
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
		background-color: #ec0606;
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		background-color: #ff5252;
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@media screen and (max-width: 767px) {
	.box-animation-container {
		transform: scale(1.5);
		margin: -150px 0px -50px 0px !important;
	}
	.opened-container img.pijl {
		display: none;
	}
	.extra-form {
		padding: 0px !important;
	}
}

@media screen and (min-width: 769px) and (max-width: 990px) {
	.box-animation-container {
		transform: scale(1.2);
		margin: -150px 0px -50px 0px !important;
	}
	.extra-form {
		padding: 0 !important;
	}
}

body {
	margin: 0 auto;
	max-width: 1300px !important;
	overflow-x: hidden !important;
}

a {
	color: rgb(227, 21, 104);
	text-decoration: underline;
}

a:hover {
	color: rgb(75, 201, 36);
}

.non-active-link {
	color: rgb(227, 21, 104);
	text-decoration: underline;
}

.non-active-link:hover {
	color: rgb(75, 201, 36);
}

.App-title {
	font-family: 'Roboto', sans-serif !important;
	color: rgb(227, 21, 104) !important;
	padding: 20px 0px 20px 0px;
}

header {
	text-align: center;
	z-index: 2;
	position: relative;
}

header.home {
	-webkit-animation-name: slideInDown;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: slideInDown;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

hr {
	background-color: grey;
}

.box-animation-container {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	height: auto;
	margin: -120px auto -20px auto;
}

.opened-container {
	width: 100%;
	margin: 30px auto 30px auto;
	text-align: left;
}

.opened-container img.gift-opened {
	width: 100%;
	max-width: 500px;
}

.opened-container img.gift-closed {
	width: 400px;
}

.opened-container img.pijl {
	width: 100%;
	max-width: 550px;
}

.opened-container.not-found {
	display: flex;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

.inline-container {
	display: flex !important;
	display: -webkit-flex !important;
	flex-direction: row !important;
}

.form-control {
	padding: 0px 0px 10px 0px !important;
}

.inline-container .form-control.address .zipCode-input {
	max-width: 90% !important;
}

.inline-container .form-control.address .house-number-input {
	max-width: 90% !important;
}

.inline-container .form-control.address .add-on-input {
	max-width: 100% !important;
}

.gift-form {
	display: block !important;
}

.form-control.name {
	width: 100% !important;
}

.form-input {
	width: 100% !important;
}

.firstname-input {
	width: 95% !important;
}

.preposition-input {
	width: 100% !important;
}

.street-input {
	width: 95% !important;
}

.city-input {
	width: 100% !important;
}

.phone-input {
	width: 100% !important;
}

.submit-button {
	width: 100% !important;
	background-color: rgb(75, 201, 36);
	padding: 15px 100px 15px 100px;
	color: white;
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold !important;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: 2px 0px 10px 1px rgb(172, 168, 168);
}

.submit-button:hover {
	background-color: rgb(227, 21, 104);
}

.extra-form {
	display: flex !important;
	flex-direction: column !important;
	justify-content: flex-start !important;
	padding: 0px 80px 0px 40px;
}

.bedankt-title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.radio-extra-info {
	padding: 20px 0px 0px 0px;
}

.MuiDialog-paper {
	max-width: 1200px !important;
	max-height: 520px !important;
}

.MuiTypography-body1 {
	font-size: 0.875rem !important;
	color: rgba(0, 0, 0, 0.6) !important;
}

.dialog-text-block {
	font-size: 0.875rem !important;
	color: rgba(0, 0, 0, 0.6) !important;
}

.MuiFormControl-root {
	margin-top: 5px !important;
}

.errorMessage {
	padding: 10px;
	margin: 0 10px !important;
	animation: pulse 1s both !important;
	--webkit-animation: pulse 1s both !important;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	background-color: #ff5252;
	color: white;
	border-radius: 5px;
}

.errorMessage-extra {
	padding: 10px;
	margin-top: 15px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	background-color: #ff5252;
	color: white;
	border-radius: 5px;
}

.PrivatePickersMonth-root {
	background-color: white !important;
	border: none !important;
}

.PrivatePickersMonth-root:hover {
	background-color: #eeeeee !important;
}

.Mui-error:after {
	border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
	transform: none !important;
}
